# MongoDB Configuration
MONGODB_USERNAME="your_username"
MONGODB_PASSWORD="your_password"
MONGODB_URI="mongodb+srv://<user>:<password>@cluster.mongodb.net"
DATABASE_URL="mongodb+srv://<user>:<password>@cluster.mongodb.net/fiksi_ai_academy?retryWrites=true&w=majority"

# Google OAuth 2.0 Client ID for Sign-In
VITE_GOOGLE_CLIENT_ID="your_google_client_id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="your_google_client_secret"
